@charset "UTF-8";
/* Establece la altura del elemento HTML al 100% */
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");
html {
  height: 100%;
}

/* Estilos generales para el cuerpo */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* Establece la altura mínima del cuerpo al 100% */
}

/* Estilos generales para todos los elementos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.ulFormato {
  justify-content: end;
}

.navbarFormato {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Estilos para el contenedor del encabezado*/
.headerContainercolor {
  background-color: #ecd7c8;
}

/* Estilos para el nombre del logotipo*/
.navbar-light .navbar-brand.logoName {
  color: #ff0072;
  font-family: "Lora", sans-serif;
  padding-left: 0.5rem;
}
.navbar-light .navbar-nav .nav-link.liFormat {
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #ff0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #ff0072;
  z-index: 1;
}
.navbar-light .navbar-nav .nav-link.liFormat:before {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #ff0072;
  z-index: -1;
}
.navbar-light .navbar-nav .nav-link.liFormat:hover, .navbar-light .navbar-nav .nav-link.liFormat:focus {
  color: white;
}
.navbar-light .navbar-nav .nav-link.liFormat:hover:before, .navbar-light .navbar-nav .nav-link.liFormat:focus:before {
  left: 0;
  right: 0;
  opacity: 1;
}
.navbar-light .navbar-nav .nav-link.liFormat:active {
  transform: scale(0.9);
}

/* Estilos para los enlaces de navegación*/
/* Estilos para el efecto de fondo de los enlaces de navegación*/
/* Estilos al pasar el mouse o enfocar los enlaces de navegación*/
/* Estilos para el efecto de fondo al pasar el mouse o enfocar los enlaces de navegación*/
/* Estilos al hacer clic en los enlaces de navegación*/
/* Estilos para el eslogan */
.slogan {
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 30px;
  background-color: #e6c8b7;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

/* Estilos para el subtítulo */
.subtitulo {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  background-color: #d7a19d;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
}

/* Estilos para el movimiento del marquesina */
.marqueeMoving {
  width: 100%;
  behavior: "alternate";
}

/* Estilos para el contenedor de la tienda 

.shopContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5rem;
}*/
.card {
  width: 22rem;
  margin-bottom: 2rem;
}
.card.cardFormato {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe;
}

.btn.btn-primary.botonComprar {
  background-color: #ff0072;
  border-color: #ff0072;
}

/* Estilos para el elemento de producto destacado 
.productoDestacadoItem {
  border: 1px solid gray;
  width: 97%;
  height: auto;
  padding: 20px;
}

/* Estilos para el contenedor de "nosotros" */
.nosotrosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para los títulos de "nosotros" */
.nosotrosTitles {
  font-family: "Lora", sans-serif;
  font-size: 1.7rem;
}

/* Estilos para la presentación de "nosotros" */
.nosotrosPresentation {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  padding: 1.5rem;
}

/* Estilos para el iframe de "nosotros" */
.nosotrosIframe {
  padding: 2rem;
  padding-bottom: 3rem;
}

/* Estilos para el contenedor del pie de página 
.footerContainer {
  width: 100%;
  height: 9rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b29490;
}*/
/* FOOTER */
footer {
  font-family: "Lora", sans-serif;
}
footer .text-white {
  text-decoration: none;
}

.footerCart {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Estilos para el error 404*/
.htmlButton404 {
  height: 100%;
}

.bodyButton404 {
  min-height: 100%;
  display: flex;
}

.h1Button404 {
  font-family: "Cabin Sketch", cursive;
  font-size: 3em;
  text-align: center;
  opacity: 0.8;
  order: 1;
}
.h1Button404 small {
  display: block;
}

.siteButton404 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.sketchButton404 {
  position: relative;
  height: 400px;
  min-width: 400px;
  margin: 0;
  overflow: visible;
  order: 2;
}

.bee-sketchButton404 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.redButton404 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png) no-repeat center center;
  opacity: 1;
  animation: red 3s linear infinite, opacityRed 5s linear alternate infinite;
}

.blueButton404 {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png) no-repeat center center;
  opacity: 0;
  animation: blue 3s linear infinite, opacityBlue 5s linear alternate infinite;
}

@media only screen and (min-width: 780px) {
  .siteButton404 {
    flex-direction: row;
    padding: 1em 3em 1em 0em;
  }
  .h1Button404 {
    text-align: right;
    order: 2;
    padding-bottom: 2em;
    padding-left: 2em;
  }
  .sketchButton404 {
    order: 1;
  }
}
@keyframes blue {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/blue-1.png);
  }
}
@keyframes red {
  0% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
  9.09% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-2.png);
  }
  27.27% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-3.png);
  }
  36.36% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-4.png);
  }
  45.45% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-5.png);
  }
  54.54% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-6.png);
  }
  63.63% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-7.png);
  }
  72.72% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-8.png);
  }
  81.81% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-9.png);
  }
  100% {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/198554/red-1.png);
  }
}
@keyframes opacityBlue {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityRed {
  from {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  to {
    opacity: 0.3;
  }
}
.Button404 {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}
.Button404:hover {
  transform: translateY(3px);
  box-shadow: none;
}
.Button404:active {
  opacity: 0.5;
}

.login-box {
  margin-top: 75px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
}

.login-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 35px;
  font-weight: bold;
  color: #de0daa;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type=text] {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #de0daa;
  border-top: 0px;
  border-radius: 5px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #1b1c1d;
}

.form-group {
  margin: 30px;
}

.form-control:focus {
  box-shadow: none;
  color: black;
}

.form-control-label {
  font-size: 15px;
  color: #2b2b2b;
  letter-spacing: 1px;
}

.btn-outline-primary {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  border-color: #de0daa !important;
  border: solid 3px;
  color: #de0daa;
  margin-top: 30px;
}
.btn-outline-primary:hover {
  background-image: linear-gradient(to left bottom, #8aa7ec, #52cffe, #52cffe, #52cffe, #52cffe, #41dfff, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: #ffffff !important;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  padding-left: 0px;
  color: black;
}

.formBtn {
  text-decoration: none;
  color: #de0daa;
}/*# sourceMappingURL=styles.css.map */